[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flower = "*"
django-test-without-migrations = "*"
mixer = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-apidoc = "*"
sphinxcontrib-django = "*"
django-debug-toolbar = "*"
black = "*"
bandit = "*"
pylint = "*"
coverage = "*"
pylint-django = "*"
pylint-celery = "*"
ipykernel = "*"

[packages]
django = "~=3.2"
pyjwt = "*"
django-celery-beat = "==2.2.0"
python-decouple = "*"
django-widget-tweaks = "==1.4.3"
djangorestframework = "==3.13"
django-map-widgets = "==0.3.2"
fcm-django = "*"
django-extensions = "==2.1.6"
django-role-permissions = "==2.2.1"
djangorestframework-simplejwt = "*"
django-oauth-toolkit = "==1.2.0"
django-cors-headers = "==3.2.1"
psycopg2 = "==2.8.5"
google-api-python-client = "==1.7.9"
facebook-sdk = "==3.1.0"
python-dateutil = "==2.8.0"
bikram = "*"
xlrd = "==1.2.0"
coreapi = "==2.3.3"
pillow = "==9.5.0"
numpy = "<2.0.0"
pandas = "*"
psycopg2-binary = "==2.8.5"
gunicorn = "*"
django-db-logger = "*"
docutils = "*"
importlib-metadata = "*"
xlsxwriter = "*"
scrapy = "*"
future = "*"
redis = "*"
rasterio = "*"
python-docx = "*"
django-mptt = "*"
django-filter = "*"
django-versatileimagefield = "*"
django-import-export = "*"
packaging = "*"
django-mptt-admin = "*"
django-rest-swagger = "*"
drf-spectacular = "*"
djangorestframework-gis = "*"
django-docs = "*"
pylibmc = "*"
python-memcached = "*"
django-crispy-forms = "*"
django-templated-mail = "*"
django-modeltranslation = "*"
django-rest-resetpassword = "*"
nepali-datetime = "*"
pybsdate = "*"
netcdf4 = "==1.5.8"
django-ckeditor = "*"
weasyprint = "==51"
drf-nested-forms = "*"
drf-writable-nested = "*"
djangorestframework-camel-case = "*"
facebook-scraper = "*"
django-tables2 = "==2.7.0"
django-log-viewer = "*"
pyxirr = "*"
crispy-bootstrap3 = "*"
django-pgviews-redux = "*"
django-silk = "*"
channels = {extras = ["daphne"], version = "*"}
xlwt = "*"
openpyxl = "*"
openai = "*"
ffmpeg-python = "*"
google-cloud-speech = "*"
channels-redis = "*"
django-taggit = "*"
uvicorn = "*"
qrcode = "*"
celery = {extras = ["redis"], version = "*"}
django-redis = "*"
django-prometheus = "*"
geoip2 = "*"
django-markdownify = "*"
django-currentuser = "*"
django-secured-fields = "*"
djangorestframework-api-key = "*"
google-genai = "*"
pulp = "*"
django-multiselectfield = "*"

[requires]
python_version = "3.9"

[scripts]
manage = "python manage.py"
server = "python manage.py runserver"
shell = "python manage.py shell"
shell_plus = "python manage.py shell_plus"
c_worker = "celery -A dermaval worker -Q dermaval -l info -n dermaval@%n -c 4"
beat = "celery -A dermaval beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler"
install_gdal = "bash -c 'pip install GDAL==$(gdal-config --version) --global-option=build_ext --global-option=\"-I/usr/include/gdal\"'"
test = "python manage.py test --nomigrations"
coverage = "coverage run manage.py test --nomigrations"
coverage_html = "bash -c 'coverage html && cd htmlcov && python -m http.server 7357 && cd ..'"

[pipenv]
allow_prereleases = false
